#{extends 'main.html' /}
#{set title:'Coop ' + coop.title + ' Inventory' /}

<table>
	<thead>
		<th></th>
		#{list items:sales, as:'sale'}
		<th><a href="@{Sales.orders(sale.id)}">${sale.date}</a></th>
		#{/list}
	</thead>
	<tbody>
		#{list items:baseProducts, as:'product'}
		<tr>
			<td>${product}</td>
			#{list items:sales, as:'sale'}
			%{ current = inventory.get(sale).get(product); }%
			#{if current}
			<td>${current}</td>
			#{/if}
			#{else}
			<td>N/A</td>
			#{/else}
			#{/list}
		</tr>
		#{/list}
	</tbody>
</table>
