#{extends 'main.html' /}
#{set title:'Coop ' + coop.title + ' Inventory' /}

<table>
	<thead>
		<th></th>
		#{list items:sales, as:'sale'}
		<th colspan="3"><a href="@{Sales.allOrders(sale.id)}">${sale.date.format('yyyy/MM/dd')}</a></th>
		#{/list}
	</thead>
	<tbody>
		<tr>
		<td></td>
		#{list items:sales, as:'sale'}
			<td>Current</td>
			<td>Purchases</td>
			<td>Orders</td>
		#{/list}
		</tr>
		#{list items:baseProducts, as:'product'}
		<tr>
			<td>${product} (${product.quantityType})</td>
			#{list items:sales, as:'sale'}
			%{ current = inventory.get(sale).get(product); }%
			#{if current}
			<td>${current.current}</td>
			<td>${current.purchases}</td>
			<td>${current.orders}</td>
			#{/if}
			#{else}
			<td>---</td>
			<td>---</td>
			<td>---</td>
			#{/else}
			#{/list}
		</tr>
		#{/list}
	</tbody>
</table>
