#{extends 'main.html' /}
#{set title:'Sale ' + sale.date /}
#{set header:'Sale ' + sale.date + ' : Products and Orders' /}

#{if sale.products.count() == 0}
	<p>No products</p>
#{/if}
#{else}
<p>Products and Orders</p>
<table>
  <thead>
    <th></th>
    #{list items:members, as:'member'}
    <th>${member.name}</th>
    #{/list}
    <th>Total</th>
  </thead>
  <tbody>
	#{list items:ordersMap.keySet(), as:'product'}
	<tr>
	  <td>${product} (${product.quantityType})</td>
	  #{list items:members, as:'member'}
	  <td>
	  #{if ordersMap.containsKey(product) && ordersMap.get(product).containsKey(member)}
	  ${ordersMap.get(product).get(member).quantity}
	  #{/if}
	  #{else}
	  None
	  #{/else}
	  </td>
	  #{/list}
	  <td>${totals.get(product)}</td>
	</tr>
	#{/list}
	</tbody>
</table>
#{/else}

<p><a href="@{Sales.myOrders(sale.id)}">See my order</a></p>
<p><a href="@{Sales.edit(sale.id)}">Edit my order</a></p>
