#{extends 'main.html' /}
#{set title:'Sale ' + sale.date /}

#{if sale.products.count() == 0}
	<p>No products</p>
#{/if}
#{else}
<p>Products
<ul>
	#{list items:products, as:'product'}
		<li>${product.id} ${product}</li>
	#{/list}
</ul>
#{/else}

#{if (productOrders.isEmpty())}
	<p>No order has been placed</p>
#{/if}
#{else}
<p>Current Order:
<ul>
	#{list items:productOrders, as:'product'}
		<li>${product.id} ${product}</li>
	#{/list}
</ul>
#{/else}

<p><a href="@{Sales.edit(sale.id)}">Edit order</a></p>
<p><a href="@{Sales.total(sale.id)}">See all orders</a></p>